header{  
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background-color: #7C5E99;
    box-shadow: 0px 10px 0px #000;
}

img{
  padding: 10px 20px;
}

nav{
    margin-right: 30px;
}



a{   
    color: #FFF;
    font-family: 'Fira Code', monospace;;
    text-decoration: none;
    margin: 10px;
        
}

#button{
    background-color: #F25A6F;
    box-shadow: 4px 4px  #FFF;
    padding: 18px 20px;
   
}
